<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.Dcf1Mapper">

    <resultMap id="BaseResultMap" type="generator.domain.Dcf1">
            <result property="dq1I1" column="DQ1-I1" jdbcType="DOUBLE"/>
            <result property="dq1I2" column="DQ1-I2" jdbcType="DOUBLE"/>
            <result property="dq2I1" column="DQ2-I1" jdbcType="DOUBLE"/>
            <result property="dq2I2" column="DQ2-I2" jdbcType="DOUBLE"/>
            <result property="dq3I1" column="DQ3-I1" jdbcType="DOUBLE"/>
            <result property="dq3I2" column="DQ3-I2" jdbcType="DOUBLE"/>
            <result property="dq4I1" column="DQ4-I1" jdbcType="DOUBLE"/>
            <result property="dq4I2" column="DQ4-I2" jdbcType="DOUBLE"/>
            <result property="dq5I1" column="DQ5-I1" jdbcType="DOUBLE"/>
            <result property="dq5I2" column="DQ5-I2" jdbcType="DOUBLE"/>
            <result property="dq6I1" column="DQ6-I1" jdbcType="DOUBLE"/>
            <result property="dq6I2" column="DQ6-I2" jdbcType="DOUBLE"/>
            <result property="dq7I1" column="DQ7-I1" jdbcType="DOUBLE"/>
            <result property="dq7I2" column="DQ7-I2" jdbcType="DOUBLE"/>
            <result property="dq8I1" column="DQ8-I1" jdbcType="DOUBLE"/>
            <result property="dq8I2" column="DQ8-I2" jdbcType="DOUBLE"/>
            <result property="dq12I1" column="DQ12-I1" jdbcType="DOUBLE"/>
            <result property="dq12I2" column="DQ12-I2" jdbcType="DOUBLE"/>
            <result property="dq13I1" column="DQ13-I1" jdbcType="DOUBLE"/>
            <result property="dq13I2" column="DQ13-I2" jdbcType="DOUBLE"/>
            <result property="dyI1" column="DY-I1" jdbcType="DOUBLE"/>
            <result property="dyI2" column="DY-I2" jdbcType="DOUBLE"/>
            <result property="qzrI1" column="QZR-I1" jdbcType="DOUBLE"/>
            <result property="qzrI2" column="QZR-I2" jdbcType="DOUBLE"/>
            <result property="qbyI" column="QBY-I" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        DQ1-I1,DQ1-I2,DQ2-I1,
        DQ2-I2,DQ3-I1,DQ3-I2,
        DQ4-I1,DQ4-I2,DQ5-I1,
        DQ5-I2,DQ6-I1,DQ6-I2,
        DQ7-I1,DQ7-I2,DQ8-I1,
        DQ8-I2,DQ12-I1,DQ12-I2,
        DQ13-I1,DQ13-I2,DY-I1,
        DY-I2,QZR-I1,QZR-I2,
        QBY-I
    </sql>
</mapper>
